@import './reset.css';

.image{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
@media (max-width:800px){
  .image{
  object-position: top;
}
}
/* $grid-breakpoints: (
  xs: 0, <576px [320, 576) -small smartphones
  sm: >=576px, [576, 768) -smartphones 
  md: >=768px, [768, 992) -tablets 
  lg: >=992px, [992, 1200) desktop laptop, 
  xl: >=1200px, [1200, 1400) desktop
  xxl: >=400px [1400, ] - desktop large
); */