:root{
  --black-color: #222;
  --text-color: #acacac;
  --attention-color: rgb(218, 218, 63);
  --circle-size: 60px;  
  --border-radius: 8px;
  --font-size: 16px;
  --big-font: 1.8rem;  
}
body{
  background-color: #ddd;
  font-family: Arial, sans-serif;
  font-size: var(--font-size);
  font-weight: 100;
}
a{
  text-decoration: none ;
  color: inherit;
}
.usersList{
 min-height: 100vh;
 padding-top: 2rem;
 
}
.usersList > *:first-child{
  visibility: hidden;
}
.userCard{
  display: flex;
  flex: nowrap;
  position: relative;
  min-height: 30vh;
  min-width: 500px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto; 
  
  border: 1px solid #ddd ;
  border-radius: calc(var(--border-radius) + 2px);  
  background-color: white;
  box-shadow: 0px 1px 10px var(--text-color);  
}
.userCard::after{
  content: "";
  width: 90%;
  height: 10%;
  position: absolute;
  background-color: #fefefe;
  top: -0.2rem;
  left: 5%;
  
  transform: scaleY(1.1) translateY(-1rem);
  z-index: -1;

  border: 1px solid #ddd ;
  border-radius: calc(var(--border-radius) + 2px);  
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 1px 10px var(--text-color);
}
.userCard::before{
  content: "";
  width: 80%;
  height: 10%;
  position: absolute;
  background-color: #fefefe;
  top: -1.3rem;
  left: 10%;
  
  transform: scaleY(1.1) translateY(-1rem);
  z-index: -1;

  border: 1px solid #ddd ;
  border-radius: calc(var(--border-radius) + 2px);  
  background-color: rgb(226, 226, 226);
  box-shadow: 0px 1px 10px var(--text-color);
}

.imageWrapper{
  width: 40%;    
}
.photo{
  width: 100%;
  height: 100%;  
  object-fit: cover;
  object-position: bottom;  
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);    
}

.userInfo{
  margin: auto ;
  color: var(--text-color)  
}

.personalInfo > *:last-child,
      .status > *:last-child{
  padding-top: var(--border-radius);
}

.personalInfo::before{
  content: "pro";
  display: inline-block;
  width: 3rem;
  height: 1.3rem; 
  position: absolute;
  top: 10%;
  right: 5%;  

  border-radius: 1rem;
  line-height: 1.3rem;
  font-size: 0.8rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;  
  color: #fefefe;
  background-color: var(--text-color);    
}

.personalInfo:after{
  content: "+";
  width: var(--circle-size);
  height: var(--circle-size); 
  display: inline-block;
  position: absolute;
  top: calc(50% - 25px);
  right: calc(var(--circle-size) / (-2));
  opacity: 85%;
  
  border-radius: 50%;
  line-height: var(--circle-size);
  font-size: var(--big-font);
  font-weight: 200;  
  text-align: center;  
  color: var(--black-color);
  background-color: var(--attention-color);    
}
.userName{
  color: var(--black-color);
}
.statusContainer{  
  margin-top: 25%;
  display: flex;
  justify-content: space-between;
}

.status{  
  display: flex;
  margin-top: auto;
  flex-direction: column;
  justify-content: space-between;
}

/* specific classes */
.capitalize{
  text-transform: capitalize;
}
.change-font{ 
  font-size: var(--big-font);
}
/*  */

@media screen and (max-width: 550px){
  .usersList{
    padding-top: 0;    
   }
  .userCard{   
    min-width: 250px;
    flex-direction: column;    
  }
  
  .userCard::after,
  .userCard::before,
  .personalInfo:after,
  .personalInfo:before{    
    display: none;     
  }
  
  .imageWrapper{
    width: 100%;
  }
  .photo{
    border-bottom-left-radius: initial;
    border-top-right-radius: var(--border-radius);
  }
  .userInfo{
    margin: 0;
    padding: 2em;
  }
  .personalInfo{
    text-align: center;
  }
  .statusContainer{
    justify-content: space-around;
    margin-top: 5%;    
  }
}


